<!-- <app-first></app-first>
<br/>
<app-second></app-second>
<br/>
<app-calc></app-calc>
<br/> -->

<a [routerLink] = "['/first']"> first </a> &nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink] = "['/second']"> second </a> &nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink] = "['/calc']"> calc </a> &nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink] = "['/employ']"> employ </a> &nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink] = "['/employlist']"> employ list </a> &nbsp;&nbsp;&nbsp;&nbsp;
<br/><br/><br/>
<router-outlet></router-outlet>